@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, orangered, black);
    background-attachment: fixed;
}

main {
    background-color: white; /*Para tudo que está dentro do main ficar com fundo branco*/
    border-radius: 20px; /*Para arredondar as bordas*/
    width: 800px; /*Largura do fundo branco*/
    padding: 10px; /*Para adicionar um espaço a mais depois das letras*/
    margin: auto; /*Para a parte branca ficar sempre centralizada, independete do tamanho da janela*/
    box-shadow: 5px 5px 5px black; /*Para colocar sombra*/
}

h1{
    color: #F23558;
    text-align: center;
    text-shadow: 1px 1px 2px #a73e3ce2;
}

h2 {
    color: #F23558;
}

p {
    text-align: justify;
}